.example-spacer {
  flex: 1 1 auto;
}

.mat-divider {
  border-top-color: #50cbff;
}

.toolbar {
  background: linear-gradient(
    71.68deg,
    #def7ff 3.33%,
    #ffffff 53.69%,
    #e4f8ff 100%
  );
}

.toolbar > h1 {
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 47px;
  color: #009de0;
}

.column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  width: 49%;
  height: 100%;
}

.column2 {
  float: left;
  width: 49%;
  height: 100%;
  margin-left: 16px;
}

.graph-container {
  border: 1px solid #50cbff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.y-label {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(-180deg);
  font-family: Saira;
  font-style: normal;
}

.chart-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.x-label {
  text-align: center;
  font-family: Saira;
  font-style: normal;
}

.section-title {
  margin-top: 20px;
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #46555f;
}

.achievments-container {
  border: 1px solid #50cbff;
  box-sizing: border-box;
}

.full-history-container {
  background: linear-gradient(
    110.02deg,
    rgba(0, 157, 224, 0.04) 24.23%,
    rgba(224, 246, 255, 0) 51.22%,
    rgba(0, 157, 224, 0.08) 76.85%
  );
  border: 1px solid #50cbff;
  box-sizing: border-box;
}

:host ::ng-deep .mat-tab-label,
:host ::ng-deep .mat-tab-label-active {
  min-width: 0 !important;
}

.sub-title {
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #66c4ec;
}

table {
  width: 98%;
  margin: 0 auto;
}

mat-header-cell,
mat-cell {
  background: rgba(0, 157, 224, 0.04);
  justify-content: center;
}
