<mat-toolbar class="toolbar">
    <h1>{{title}}</h1>
    <span class="example-spacer"></span>
    <img src="../../assets/Logotipo_v1.png" />
</mat-toolbar>
<div class="column-container">
    <div class="column1">
        <p class="section-title">◖ HISTORY CHART</p>
        <div class="graph-container">
            <div class="chart-div">
                <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    chartType='line'>
            </canvas>
            </div>
        </div>
        <p class="section-title">◖ ACHIEVEMENTS</p>
        <div class="achievments-container">
            <div class="achievments-list">            
            </div>
        </div>
        <div class="footer-space"></div>
    </div>
    <div class="column2">
        <p class="section-title">◖ FULL HISTORY</p>
        <div class="full-history-container">
            <p class="sub-title select-year">Select a Year:</p>
            <mat-tab-group (selectedTabChange)="onTabChange($event)">
                <mat-tab *ngFor="let tab of tabs;" [label]="tab"> 
                    <br>
                    <p class="sub-title">Decisions</p>
                    <mat-tab-group>
                        <mat-tab label="POLICIES INVESTED">
                            <div class="content-container">
                                <br>
                            <table class="policies-table" mat-table [dataSource]="selectedYearPolicies" class="mat-elevation-z8">
                                <!-- Position Column -->
                                <ng-container matColumnDef="Policy Name">
                                    <th mat-header-cell class="transports-table-header-cell" *matHeaderCellDef> Policy Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                                  </ng-container>
                                
                                  <!-- Name Column -->
                                  <ng-container matColumnDef="Economy Sector">
                                    <th mat-header-cell class="transports-table-header-cell" *matHeaderCellDef> Economy Sector </th>
                                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                                  </ng-container>
                                
                                  <!-- Weight Column -->
                                  <ng-container matColumnDef="Price">
                                    <th mat-header-cell class="transports-table-header-cell" *matHeaderCellDef> Price </th>
                                    <td mat-cell *matCellDef="let element"> {{element.price}}M € </td>
                                  </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                              <br>
                            </div>
                        </mat-tab>
                        
                        <mat-tab label="POWER INSTALLATIONS">
                            <div class="content-container">
                                <br>
                                <div class="installed-power-group">
                                    <p class="bold-label">
                                        <b>Total Installed Power:</b> {{this.selectedYearInstalledPower | number:'1.0-2'}} GW
                                    </p>
                                    <p class="bold-label">
                                        <b>Total Installation Cost:</b> {{this.selectedYearPowerCost | number:'1.0-0'}} M€
                                    </p>
                                </div>
                                <br>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                    <br>
                    <br>
                    <p class="sub-title">Result</p>
                    <mat-tab-group (selectedTabChange)="onTabChange2($event)">
                        <mat-tab label="Socioeconomics">
                            <p class="bold-label"><b>BUDGET:</b> {{this.selectedYearBudget | number:'1.0-0'}} M€</p>
                            <p class="bold-label"><b>GDP:</b> {{this.selectedYearGDP | number:'1.0-0'}} M€</p>
                            <p class="bold-label"><b>POPULATION HAPPINESS:</b> {{this.selectedYearHappiness | number:'1.0-2'}}</p>
                            <p class="bold-label"><b>EXPENDITURE:</b> {{this.selectedYearExpenditure | number:'1.0-0'}} M€</p>  
                        </mat-tab>
                        <mat-tab label="Exergy Distribution">
                            <p class="bold-label"><b>CO2 EMISSIONS:</b> {{this.selectedYearEmissions | number:'1.0-2'}} MT</p>
                            <p class="bold-label"><b>AGGREGATED EFFICIENCY:</b> {{this.selectedYearAggregatedEfficiency | number:'1.0-2'}} %</p>
                        </mat-tab>
                        <mat-tab label="Energetics"> 
                        </mat-tab>
                    </mat-tab-group>
                    
                </mat-tab>
              </mat-tab-group>
        </div>
        <div class="footer-space"></div>
    </div>
</div>