.example-spacer {
  flex: 1 1 auto;
}

.mat-divider {
  border-top-color: #50CBFF;
}

.toolbar {
  background: linear-gradient(71.68deg, #DEF7FF 3.33%, #FFFFFF 53.69%, #E4F8FF 100%);
}

.toolbar >h1 {
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 47px;
  color: #009DE0;
}