<mat-toolbar class="toolbar">
    <h1>{{title}}</h1>
    <span class="example-spacer"></span>
    <img src="../../assets/Logotipo_v1.png" />
</mat-toolbar>
<div *ngIf="showActive" [ngClass]=" showActive ? 'hideButtons' : 'showButtons'"></div>
<div class="column-container">
    <div class="column1">
        <p class="section-title">◖ MAIN INFORMATIONS</p>
        <mat-divider></mat-divider>
        <p class="field-title">CURRENT YEAR</p>
        <p class="bigger-text">{{this.PlayerVariables.current_year}}</p>
        <mat-divider></mat-divider>
        <p class="field-title">CO2 EMISSIONS</p>
        <p class="bigger-text">{{this.PlayerVariables.co2_emissions |  number: '1.0-2'}} MT</p>
        <mat-divider></mat-divider>
        <p class="field-title">AGGREGATED EFFICIENCY(COUNTRY)</p>
        <p class="bigger-text">{{this.PlayerVariables.efficiency * 100 |  number: '1.2-2'}} %</p>
        <mat-divider></mat-divider>
        <p class="field-title">RENEWABLE RATIO</p>
        <p class="bigger-text">{{this.get_renewable_ratio() |  number: '1.2-2' }} %</p>
        <button [disabled]="this.buttonsEnabled" *ngIf="!showTable" mat-button class="see-more-button" (click)="toggleTable()">See Exergy <br>
             Distribution Table</button>
        <button *ngIf="showTable" [disabled]="this.buttonsEnabled" mat-button class="see-more-button" (click)="toggleTable()">Hide Exergy <br>
                Distribution Table</button>
    </div>
    <div class="column2">
        <div class="policy-container" height="290">
            <svg width="682.6" height="220" viewBox="0 0 1000 350" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g width="650">
                    <path d="M0.5 289.5V42.6794L35.236 0.5H975.5V256.319L947.766 289.5H0.5Z" fill="url(#paint1_linear)"
                        stroke="#50CBFF" />
                    <path transform="translate(10,20)" d="M0.5 250.5V28.682L23.7331 1H242.503L243.999 224.826L223.466 250.5H0.5Z" fill="url(#pattern0)" />
                    <path transform="translate(10,20)" d="M0.5 250.5V28.682L23.7331 1H242.503L243.999 224.826L223.466 250.5H0.5Z" stroke="#C2EDFF"/>
                    <text x="300" y="30" class="svg-title">{{this.selectedPolitic?.title}}</text>
                    <text x="300" y="100" class="svg-desc-title">Description:</text>
                    <foreignObject x="300" y="120" width="600" height="120">
                        <p xmlns="http://www.w3.org/1999/xhtml" class="svg-desc">{{this.selectedPolitic?.desc}}</p>
                    </foreignObject>
                    <foreignObject x="750" y="250" width="600" height="120">
                        <p xmlns="http://www.w3.org/1999/xhtml" class="svg-price"><b>Price:</b> {{this.selectedPolitic?.price}}M €</p>
                    </foreignObject>
                    
                    <svg x="220" y="10" width="300" height="100" class="inner-svg">
                        <rect x="80" y="35" class="svg-rect"></rect>
                        <text x="50%" y="50%" dominant-baseline="middle" class="svg-type">#{{this.selectedPolitic?.type}}</text>
                    </svg>    
                </g>
                <defs>
                    <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                        <use xlink:href="#image0" transform="translate(0) scale(0.00255496)"/> 
                    </pattern>
                    <image id="image0" xlink:href="https://material.angular.io/assets/img/examples/shiba2.jpg"/>
                    <linearGradient id="paint0_linear" x1="124" y1="6" x2="124" y2="241" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#009DE0" stop-opacity="0.25"/>
                    <stop offset="1" stop-color="#009DE0"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear" x1="437" y1="92" x2="943.355" y2="248.853"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#009DE0" stop-opacity="0.04" />
                        <stop offset="0.512984" stop-color="#E0F6FF" stop-opacity="0" />
                        <stop offset="1" stop-color="#009DE0" stop-opacity="0.08" />
                    </linearGradient>
                </defs>
            </svg>
        </div>
        <div class="policies-table-container">
            <p class="section-title">◖ INVESTMENT POLICIES</p>
            <div class="example-container">
              <mat-tab-group class="tab-group" (selectedTabChange)="onTabChange($event)">
                <mat-tab class="transports">
                  <ng-template  *ngIf="this.tab != 'Transports'" mat-tab-label>
                    <mat-icon class="transports-icon">directions_bus</mat-icon>
                  </ng-template>
                  <ng-template *ngIf="this.tab === 'Transports'" mat-tab-label>
                    <mat-icon class="transports-icon">directions_bus</mat-icon>
                    Transports
                  </ng-template>
                  <table class="policies-table" mat-table [dataSource]="politics" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="Policy Name">
                      <th mat-header-cell class="transports-table-header-cell" *matHeaderCellDef> Policy Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="Economy Sector">
                      <th mat-header-cell class="transports-table-header-cell" *matHeaderCellDef> Economy Sector </th>
                      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="Price">
                      <th mat-header-cell class="transports-table-header-cell" *matHeaderCellDef> Price </th>
                      <td mat-cell *matCellDef="let element"> {{element.price}}M € </td>
                    </ng-container>
    
                    <ng-container matColumnDef="getdetails">
                        <th mat-header-cell class="transports-table-header-cell" *matHeaderCellDef>  </th>
                        <td align="right" mat-cell *matCellDef="let element">
                             <button [disabled]="this.buttonsEnabled" *ngIf="!element.isUsed" [ngClass]="element.isUsed ? 'added' : 'add-button'" mat-raised-button color="primary" (click)="addToCart(element.id); ">Add to Cart</button> 
                             <button [disabled]="this.buttonsEnabled" *ngIf="element.isUsed" [ngClass]="element.isUsed ? 'added' : 'add-button'" mat-raised-button (click)="removeFromCart(element);">Remove from Cart</button> 
                            </td>
                      </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row class="transports-table-row" (click)="changeSelectedPolicy(row)"[class.row-added]="this.cartCollection.has(row)" [class.row-clicked]="clickedRow.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </mat-tab>
              
                <mat-tab class="industry">
                  <ng-template *ngIf="this.tab != 'Industry'" mat-tab-label>
                    <mat-icon class="industry-icon">precision_manufacturing</mat-icon>
                  </ng-template>
                  <ng-template *ngIf="this.tab === 'Industry'" mat-tab-label>
                    <mat-icon class="industry-icon">precision_manufacturing</mat-icon>
                    Industry
                  </ng-template>
                  <table class="policies-table" mat-table [dataSource]="politics" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="Policy Name">
                      <th mat-header-cell class="industry-table-header-cell" *matHeaderCellDef> Policy Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="Economy Sector">
                      <th mat-header-cell class="industry-table-header-cell" *matHeaderCellDef> Economy Sector </th>
                      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="Price">
                      <th mat-header-cell class="industry-table-header-cell" *matHeaderCellDef> Price </th>
                      <td mat-cell *matCellDef="let element"> {{element.price}}M € </td>
                    </ng-container>
    
                    <ng-container matColumnDef="getdetails">
                        <th mat-header-cell class="industry-table-header-cell" *matHeaderCellDef>  </th>
                        <td align="right" mat-cell *matCellDef="let element">
                             <button [disabled]="this.buttonsEnabled" *ngIf="!element.isUsed" [ngClass]="element.isUsed ? 'added' : 'add-button'" mat-raised-button color="primary" (click)="addToCart(element.id); ">Add to Cart</button> 
                             <button [disabled]="this.buttonsEnabled" *ngIf="element.isUsed" [ngClass]="element.isUsed ? 'added' : 'add-button'" mat-raised-button (click)="removeFromCart(element);">Remove from Cart</button> 
                            </td>
                      </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row class="industry-table-row" (click)="changeSelectedPolicy(row)"[class.row-added]="this.cartCollection.has(row)" [class.row-clicked]="clickedRow.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </mat-tab>
              
                <mat-tab class="residential">
                  <ng-template *ngIf="this.tab !='Residential'" mat-tab-label>
                    <mat-icon class="residential-icon">house</mat-icon>
                  </ng-template>
                  <ng-template *ngIf="this.tab === 'Residential'" mat-tab-label>
                    <mat-icon class="residential-icon">house</mat-icon>
                    Residential
                  </ng-template>
                  <table class="policies-table" mat-table [dataSource]="politics" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="Policy Name">
                      <th mat-header-cell class="residential-table-header-cell" *matHeaderCellDef> Policy Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="Economy Sector">
                      <th mat-header-cell class="residential-table-header-cell" *matHeaderCellDef> Economy Sector </th>
                      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="Price">
                      <th mat-header-cell class="residential-table-header-cell" *matHeaderCellDef> Price </th>
                      <td mat-cell *matCellDef="let element"> {{element.price}}M € </td>
                    </ng-container>
    
                    <ng-container matColumnDef="getdetails">
                        <th mat-header-cell class="residential-table-header-cell" *matHeaderCellDef>  </th>
                        <td align="right" mat-cell *matCellDef="let element">
                             <button [disabled]="this.buttonsEnabled" *ngIf="!element.isUsed" [ngClass]="element.isUsed ? 'added' : 'add-button'" mat-raised-button color="primary" (click)="addToCart(element.id); ">Add to Cart</button> 
                             <button [disabled]="this.buttonsEnabled" *ngIf="element.isUsed" [ngClass]="element.isUsed ? 'added' : 'add-button'" mat-raised-button (click)="removeFromCart(element);">Remove from Cart</button> 
                            </td>
                      </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row class="residential-table-row" (click)="changeSelectedPolicy(row)"[class.row-added]="this.cartCollection.has(row)" [class.row-clicked]="clickedRow.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </mat-tab>
                <mat-tab class="services">
                  <ng-template *ngIf="this.tab != 'Services'" mat-tab-label>
                    <mat-icon class="services-icon">miscellaneous_services</mat-icon>
                  </ng-template>
                  <ng-template *ngIf="this.tab === 'Services'" mat-tab-label>
                    <mat-icon class="services-icon">miscellaneous_services</mat-icon>
                    Services
                  </ng-template>
                  <table class="policies-table" mat-table [dataSource]="politics" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="Policy Name">
                      <th mat-header-cell class="services-table-header-cell" *matHeaderCellDef> Policy Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="Economy Sector">
                      <th mat-header-cell class="services-table-header-cell" *matHeaderCellDef> Economy Sector </th>
                      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="Price">
                      <th mat-header-cell class="services-table-header-cell" *matHeaderCellDef> Price </th>
                      <td mat-cell *matCellDef="let element"> {{element.price}}M € </td>
                    </ng-container>
    
                    <ng-container matColumnDef="getdetails">
                        <th mat-header-cell class="services-table-header-cell" *matHeaderCellDef>  </th>
                        <td align="right" mat-cell *matCellDef="let element">
                             <button [disabled]="this.buttonsEnabled" *ngIf="!element.isUsed" [ngClass]="element.isUsed ? 'added' : 'add-button'" mat-raised-button color="primary" (click)="addToCart(element.id); ">Add to Cart</button> 
                             <button [disabled]="this.buttonsEnabled" *ngIf="element.isUsed" [ngClass]="element.isUsed ? 'added' : 'add-button'" mat-raised-button (click)="removeFromCart(element);">Remove from Cart</button> 
                            </td>
                      </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row class="services-table-row" (click)="changeSelectedPolicy(row)"[class.row-added]="this.cartCollection.has(row)" [class.row-clicked]="clickedRow.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </mat-tab>
              </mat-tab-group>
            
            </div>
              <br>
        
              <p class="section-title">◖ POWER TO INSTALL</p>
              <table class="power-to-install">
                  <tr>
                      <td class="installed-power"><p style="margin:0px;">Installed Renewable Power</p></td>
                      <td class="installed-power-value"><p style="margin:0px;">{{this.PlayerVariables.total_installed_power | number:'1.0-2'}}GW</p></td>
                  </tr>
                  <tr>
                      <td class="to-install"><p style="margin:0px;">Power to Install</p></td>
                      <td class="to-install-value">
                          <button [disabled]="this.buttonsEnabled" class="minus" (click)="reducePower()"> - </button>
                          <p style="margin:0px;">{{this.powerToInstall |  number: '1.2-2'}}GW</p>
                          <button [disabled]="this.buttonsEnabled" class="plus" (click)="addPower()"> + </button>
                      </td>
                  </tr>
              </table>
              <br>
        <br>
        </div>
        <br>
        <br>
        <br>
    </div>
   
    <div class="column3">
        <p class="section-title">◖SHOPPING CART</p>
        <tr>
            <td> <p class="field-title">POWER TO <br> INSTALL</p></td>
            <td class="power-to-install-cart"><p >{{this.powerToInstall |  number: '1.2-2'}}GW</p></td>
        </tr>
        <mat-divider></mat-divider>
        <p class="field-title">INVESTMENT POLICIES</p>
        <div class="shoppingCartItemsContainer" id="style-5">
            <div *ngFor="let item of cartCollection">
                <button [disabled]="this.buttonsEnabled" class="itemButton" mat-raised-button color="primary" (click)="removeFromCart(item);">
                  <span class="item-title">{{item.title}}</span>
                  <mat-icon class="delete-icon">delete</mat-icon>
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <br>
        <tr>
            <td> <p class="special-title">COST OF <br>
                POWER TO <br>
                INSTALL</p></td>
            <td class="power-install-cost"><p>{{this.totalPowerCost |  number: '1.0-0'}}M€</p></td>
        </tr>
        <mat-divider></mat-divider>
        <tr>
            <td> <p class="special-title">COST OF<br>INVESTIMENT<br>POLICIES</p>
            </td>
            <td class="total-politic-cost"><p>{{this.addedPoliticsCost}}M€</p></td>
        </tr>
        <mat-divider></mat-divider>
        <div class="gdp-title">
          <mat-icon matTooltip="Is the amount of money available for you to spend and invest accordingly to your strategy. It represents 3% of the country's GDP." 
          matTooltipPosition="above" class="info-icon">info_outline</mat-icon>
          <p class="field-title">REMAINING BUDGET</p>
        </div>
          <p class="bigger-text">{{this.PlayerVariables.budget |  number: '1.0-0'}}M€</p>
     
      <br>
        <button [disabled]="this.buttonsEnabled" mat-button class="confirm-button" (click)="openConfirmationDialog()">Confirm<br>Investment</button>
    </div>
</div>
<div *ngIf="this.showTable" class="exergy-dist-table">
    <table>
        <thead>
          <tr>
            <th class="table-header-cell">
              <div class = "table-header-aligner">
                <p class="table-header-title">Economy Sector</p>
                <mat-icon class="table-header-icon">info_outline</mat-icon>
              </div>
            </th>
            <th class="table-header-cell">
              <div class = "table-header-aligner">
                <p class="table-header-title">Exergy Shares</p>
                <mat-icon class="table-header-icon">info_outline</mat-icon>
              </div>
            </th>
            <th class="table-header-cell">
              <div class = "table-header-aligner">
                <p class="table-header-title">Eletrification</p>
                <mat-icon class="table-header-icon">info_outline</mat-icon>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Transports</td>
            <td>{{this.PlayerVariables.economy_type_percentage_transportation | number:'1.0-2'}}%</td>
            <td>{{this.PlayerVariables.electrification_by_sector_percentage_transportation | number:'1.0-2'}}%</td>
          </tr>
          <tr>
            <td >Industry</td>
            <td>{{this.PlayerVariables.economy_type_percentage_industry | number:'1.0-2'}}%</td>
            <td>{{this.PlayerVariables.electrification_by_sector_percentage_industry | number:'1.0-2'}}%</td>
          </tr>
          <tr>
            <td >Residential</td>
            <td>{{this.PlayerVariables.economy_type_percentage_residential | number:'1.0-2'}}%</td>
            <td>{{this.PlayerVariables.electrification_by_sector_percentage_residential | number:'1.0-2'}}%</td>
          </tr>
          <tr>
            <td >Services</td>
            <td>{{this.PlayerVariables.economy_type_percentage_services | number:'1.0-2'}}%</td>
            <td>{{this.PlayerVariables.electrification_by_sector_percentage_services | number:'1.0-2'}}%</td>
          </tr>
        </tbody>
    </table>
</div>

    <mat-card *ngIf = "showActive" class="confirmationPopup">
        <mat-card-header>
            <mat-card-title>Warning</mat-card-title>
        </mat-card-header>
        <mat-card-content>
         <p>
            Are you sure about submitting your decisions now?
            </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button routerLink="information" (click)="confirm()" color="primary">YES</button>
        <button mat-raised-button (click)="decline()" color="warn">NO</button>
      </mat-card-actions>
    </mat-card>

    
