.example-spacer {
  flex: 1 1 auto;
}

.mat-divider {
  border-top-color: #50cbff;
}

.toolbar {
  background: linear-gradient(
    71.68deg,
    #def7ff 3.33%,
    #ffffff 53.69%,
    #e4f8ff 100%
  );
}

.toolbar > h1 {
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 47px;
  color: #009de0;
}

.column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  width: 20%;
  height: 100%;
}

.column2 {
  float: left;
  width: 50%;
  height: 100%;
}

.column3 {
  float: left;
  width: 30%;
  height: 100%;
}

.section-title {
  margin-top: 20px;
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #46555f;
}

.field-title {
  margin-top: 10px;
  margin-left: 20px;
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #009de0;
}

.bigger-text {
  margin-left: 20px;
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #50cbff;
}

.insideContainer {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 10px;
}

.shoppingCartItemsContainer {
  height: 100px;
  width: 328px;
  margin: auto;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.svg-title {
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  fill: #50cbff;
}

.svg-type {
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  fill: blue;
  text-anchor: middle;
}

.svg-desc {
}

.inner-svg {
}

.svg-rect {
  width: 200px;
  height: 30px;
  fill: #d4d900;
}

.svg-image {
  width: 200px;
  height: 300px;
  -webkit-clip-path: polygon(
    15% 0,
    70% 0%,
    100% 0,
    100% 85%,
    85% 100%,
    30% 100%,
    0 100%,
    0 15%
  );
  clip-path: polygon(
    15% 0,
    70% 0%,
    100% 0,
    100% 85%,
    85% 100%,
    30% 100%,
    0 100%,
    0 15%
  );
}
svg {
  margin-left: 16px;
}
