<mat-toolbar class="toolbar">
    <h1>{{title}}</h1>
    <span class="example-spacer"></span>
    <img src="../../assets/Logotipo_v1.png" />
  </mat-toolbar>
  <br>
  <br>

  <div class="creditsContent">
    <h2>Coordination</h2>
    <p>Rui Prada, Tânia Sousa</p>
    <br>
    <h2>Game Design</h2>
    <p>Rui Prada, Tânia Sousa, Laura Felício, Tiago Taveira, André Silva</p>
    <br>
    <h2>Exergy Experts</h2>
    <p>Tânia Sousa, Laura Felício, João Santos</p>
    <br>
    <h2>Technical Development</h2>
    <p>André Silva, Tiago Taveira</p>
    <br>
    <h2>UI Design</h2>
    <p>Sónia Rafael, Inês Borges</p>
    <br>
    <h2>Acknowledgments</h2>
    <p>Funded by the IST Pedagogical Innovation Project: "Massive Open Online Tool (MOOT) for the design of consistent scenarios for the consumption of energy and CO2 emissions for 2050." </p>
</div>