
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" class="sidenav" [(opened)]="this.isOpened">
    <button [ngClass]="(infoActive)?'menuIconFocused':'menuIcon'" mat-fab color="Basic" #tooltip="matTooltip"
      matTooltip="Information Panel" matTooltipPosition="right" routerLink="information"
      (click)="updateButtons('info')">
      <mat-icon>flash_on</mat-icon>
    </button>
    <button [ngClass]="(decisionActive)?'menuIconFocused':'menuIcon'" mat-fab color="Basic" #tooltip="matTooltip"
      matTooltip="Decision Panel" matTooltipPosition="right" routerLink="decision"
      (click)="updateButtons('decision')">
      <mat-icon>engineering</mat-icon>
    </button>
    <button [ngClass]="(historyActive)?'menuIconFocused':'menuIcon'" mat-fab color="Basic" #tooltip="matTooltip"
      matTooltip="History Panel" matTooltipPosition="right" routerLink="history"
      (click)="updateButtons('history')">
      <mat-icon>query_stats</mat-icon>
    </button>

      <button class="menuIcon bottom" mat-fab color="Basic" #tooltip="matTooltip"
      matTooltip="Tutorial" matTooltipPosition="right" routerLink="tutorial">
      <mat-icon>help</mat-icon>
    </button>
    <button class="menuIcon bottom" mat-fab color="Basic" #tooltip="matTooltip"
      matTooltip="Credits" matTooltipPosition="right" routerLink="">
      <mat-icon>feedback</mat-icon>
    </button>

  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>