mat-header-cell {
  width: max-content;
  font-family: Saira;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  background-color: #009de0;
}

table {
  width: max-content;
}
