
<div *ngIf="this.isWin" class="group">
  <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="text-buttons"> 
    <p class="text">YOU WON!</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button class="button glow-button" routerLink="/history">See History</button>
    <button class="button glow-button" (click)="restartGame()">Play Again</button>
    <button *ngIf="!this.showId" class="button glow-button"(click)="getSubmissionId()">Get Submission Id</button>
  </div>
</div>

<div *ngIf="!this.isWin" class="group">
  <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="text-buttons"> 
    <p class="text-lost">YOU LOST!</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button class="button glow-button" routerLink="/history">See History</button>
    <button class="button glow-button"(click) = "restartGame()">Play Again</button>
    <button *ngIf="!this.showId" class="button glow-button"(click)="getSubmissionId()">Get Submission Id</button>
    <button *ngIf="this.showId" class="button" disabled>Submission Id: {{this.submissionId}}</button>
    <br>
    <br>
   
  </div>    
     
      
   
</div>