<div *ngIf="this.consented" class="container" [ngClass]="{'slide': this.currentIndex==0,'slide0' : this.currentIndex == 1, 'slide1' : this.currentIndex == 2,
 'slide2' : this.currentIndex ==3, 'slide3' : this.currentIndex == 4,
'slide4' : this.currentIndex == 5, 'slide5' : this.currentIndex == 6, 'slide6' : this.currentIndex == 7, 'slide7': this.currentIndex == 8}">
    <div [ngClass]="{'text-cotainer' : this.currentIndex == 0,'text-container0' : this.currentIndex == 1, 
    'text-container1' : this.currentIndex ==2,
     'text-container2' : this.currentIndex == 3, 'text-container3' : this.currentIndex == 4,
     'text-container4' : this.currentIndex == 5, 'text-container5' : this.currentIndex == 6, 'text-container6' : this.currentIndex == 7, 'text-container7' : this.currentIndex == 8 }">
        <p class="description-title">{{this.tutorials[this.currentIndex].title}}</p>
        <p class="description-text">{{this.tutorials[this.currentIndex].text}}</p>
        <div class="button-container">
            <button *ngIf ="this.currentIndex > 0" (click)="this.back()" class="back-button"><mat-icon>skip_previous</mat-icon> <strong> Back</strong> </button>
            <button (click)="this.next()" class="next-button"><strong>Next </strong><mat-icon>skip_next</mat-icon></button>
            <button (click)="this.skip()" class="skip-button align-right"><strong>Skip </strong><mat-icon>fast_forward</mat-icon></button>
        </div>  
        <br>
        <br>
        <div class="button-container-skip">
        
        </div>
    </div>
</div>