<mat-toolbar class="toolbar">
  <p></p>
  <h1>{{title}}</h1>
  <span class="example-spacer"></span>
  <img src="../../assets/Logotipo_v1.png" />
</mat-toolbar>

<div class="column-container">
  <div class="column1">
    <p class="section-title">◖ MAIN INFORMATIONS</p>
    <mat-divider></mat-divider>
    <p class="field-title">CURRENT YEAR</p>
    <p class="bigger-text">{{this.PlayerVariables.current_year}}</p>
    <mat-divider></mat-divider>
    <p class="field-title">BUDGET</p>
    <p class="bigger-text">{{this.PlayerVariables.budget |  number: '1.0-0'}} M</p>
    <mat-divider></mat-divider>
    <div class="co2-box">
      <div class="co2-icon-container">
        <mat-icon class="co2-icon">filter_drama</mat-icon>
      </div>
      <div class="bars-container">
        <p class="small-label">CO2 EMISSIONS</p>
        <p class="small-value">{{this.PlayerVariables.co2_emissions |  number: '1.0-0'}}MT</p>
      </div>
    </div>
    <div class="happiness-box">
      <div class="happy-icon-container">
        <mat-icon class="happy-icon">emoji_emotions</mat-icon>
      </div>
      <div class="bars-container">
        <p class="small-label">POPULATION HAPPINESS</p>
        <p class="small-value">{{this.PlayerVariables.utility}}</p>
        
        <div class="bars">
         <div class="chart-bar"></div>
         <div class="chart-bar"></div>
         <div class="chart-bar"></div>
         <div class="chart-bar"></div>
         <div class="chart-bar"></div>
         <div class="chart-bar"></div>
        
        </div>
      </div>
    </div>
    <p class="section-title">◖ SOCIOECONOMICS INFORMATION</p>
    <div class="gdp">

    </div>
  </div>
  <div class="column2">
    <p class="section-title">◖ ENERGY INFORMATIONS</p>
    <p class="field-title">Some text..</p>
  </div>
  <div class="column3">
    <p class="section-title">◖ EVENTS INFORMATION</p>
    <mat-divider></mat-divider>
    <p class="card-title">Natural Events</p>
    <mat-card class="natural-event-card">
      <div class="insideContainer">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button class="decision-button" mat-raised-button color="warn">Pay Maintenance</button>
      </mat-card-actions>
    </mat-card>
    <mat-divider></mat-divider>
    <p class="card-title">Social Events</p>
    <mat-card class="natural-event-card">
      <div class="insideContainer">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button class="decision-button" mat-raised-button color="warn">Pay Maintenance</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>