<mat-toolbar class="toolbar">
  <p></p>
  <h1>{{title}}</h1>
  <span class="example-spacer"></span>
  <img src="../../assets/Logotipo_v1.png" />
</mat-toolbar>

<div class="column-container">
  <div class="column1">
    <p class="section-title">◖ MAIN INFORMATIONS</p>
    <mat-divider></mat-divider>
    <p class="field-title">CURRENT YEAR</p>
    <p class="bigger-text">{{this.PlayerVariables.current_year}}</p>
    <mat-divider></mat-divider>
    <p class="field-title">BUDGET</p>
    <p class="bigger-text">{{this.PlayerVariables.budget |  number: '1.0-0'}} M</p>
    <mat-divider></mat-divider>
    <div class="co2-box">
      <div class="co2-icon-container">
        <mat-icon class="co2-icon">filter_drama</mat-icon>
      </div>
      <div class="bars-container">
        <p class="small-label">CO2 EMISSIONS</p>
        <div class="value-inline-bars">
          <p class="small-value">{{this.PlayerVariables.co2_emissions |  number: '1.0-0'}}MT</p>
           <!-- <div class="chart-bar-big-first"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div> -->
        </div>
        <div class="bars">
          <div [ngClass]="this.value >0 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >1 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >2 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >3 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >4 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >5 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >6 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >7 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >8 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >9 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >10 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >11 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >12 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >13 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >14 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >15 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >16 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >17 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >18 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >19 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >20 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >21 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >22 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >23 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.value >24 ? 'chart-bar-colored' : 'chart-bar'"></div>
         </div>
      </div>
    </div>
    <div class="happiness-box">
      <div class="happy-icon-container">
        <mat-icon class="happy-icon">emoji_emotions</mat-icon>
      </div>
      <div class="bars-container">
        <p class="small-label">POPULATION HAPPINESS</p>
        <div class="value-inline-bars">
          <p class="small-value">{{this.PlayerVariables.utility | number: '1.0-2'}}</p>
          <!-- <div class="chart-bar-big-first"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div>
          <div class="chart-bar-big"></div> -->
        </div>
        <div class="bars">
          <div [ngClass]="this.happiness >0 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >1 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >2 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >3 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >4 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >5 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >6 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >7 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >8 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >9 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >10 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >11 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >12 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >13 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >14 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >15 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >16 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >17 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >18 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >19 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >20 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >21 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >22 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >23 ? 'chart-bar-colored' : 'chart-bar'"></div>
          <div [ngClass]="this.happiness >24 ? 'chart-bar-colored' : 'chart-bar'"></div>
        </div>
      </div>
    </div>
    <p class="section-title">◖ SOCIOECONOMICS INFORMATION</p>
    <mat-divider></mat-divider>
    <div class=gdp-group>
      <div class="gdp-title">
        <mat-icon class="info-icon">info_outline</mat-icon>
        <p class="field-title" style="margin-left: 8px;">GDP</p>
      </div>
      <div class="gdp-values">
        <p class="bigger-text">{{this.PlayerVariables.money*1000 | number: '1.0-0'}} M€</p>
        <p class="value-diff">{{this.getGdpDiff() <= 0 ? '' : '+' }}{{this.getGdpDiff()*1000 | number: '1.0-0'}} M€</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class=happiness-group>
      <div class="happiness-title">
        <mat-icon class="info-icon">info_outline</mat-icon>
        <p class="field-title" style="margin-left: 8px;">POPULATION<br> HAPPINESS</p>
      </div>
      <div class="happiness-values">
        <p class="bigger-text">{{this.PlayerVariables.utility | number: '1.0-2'}}</p>
        <p class="value-diff">{{this.getHappinessDiff() <= 0 ? '' : '+' }}{{this.getHappinessDiff()| number: '1.0-2'}}</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class=expenditure-group>
      <div class="expenditure-title">
        <mat-icon class="info-icon">info_outline</mat-icon>
        <p class="field-title" style="margin-left: 8px;">EXPENDITURE</p>
      </div>
      <div class="expenditure-values">
        <p class="bigger-text">{{this.PlayerVariables.expenditure*1000 | number: '1.0-0'}} M€</p>
        <p class="value-diff">{{this.getExpenditureDiff() <= 0 ? '' : '+' }}{{this.getExpenditureDiff()*1000 | number: '1.0-0'}} M€</p>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="column2">
    <p class="section-title">◖ ENERGY INFORMATIONS</p>
    <mat-divider></mat-divider>
    <div class=gdp-group>
      <div class="gdp-title">
        <mat-icon class="info-icon">info_outline</mat-icon>
        <p class="field-title" style="margin-left: 8px;">INSTALLED<br>RENEWABLE<br> POWER</p>
      </div>
      <div class="gdp-values">
        <p class="bigger-text">{{this.PlayerVariables.total_installed_power | number: '1.0-2'}} GW</p>
        <p class="value-diff">{{this.getInstalledPowerDiff() <= 0 ? '' : '+' }}{{this.getInstalledPowerDiff() | number: '1.0-2'}} GW</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class=gdp-group>
      <div class="gdp-title">
        <mat-icon class="info-icon">info_outline</mat-icon>
        <p class="field-title" style="margin-left: 8px;">RENEWABLE<br>ELECTRICITY</p>
      </div>
      <div class="gdp-values">
        <p class="bigger-text">{{this.PlayerVariables.renewable_energy | number: '1.0-0'}} GWh</p>
        <p class="value-diff">{{this.getRenweableElectricityDiff() <= 0 ? '' : '+' }}{{this.getRenweableElectricityDiff() | number: '1.0-0'}} GWh</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class=gdp-group>
      <div class="gdp-title">
        <mat-icon class="info-icon">info_outline</mat-icon>
        <p class="field-title" style="margin-left: 8px;">RENEWABLE<br>RATIO</p>
      </div>
      <div class="gdp-values">
        <p class="bigger-text">{{this.currentRatio | number: '1.0-2'}} %</p>
        <p class="value-diff">{{this.currentRatioDiff <= 0 ? '' : '+' }}{{this.currentRatioDiff | number: '1.0-2'}} %</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class=gdp-group>
      <div class="gdp-title">
        <mat-icon class="info-icon">info_outline</mat-icon>
        <p class="field-title" style="margin-left: 8px;">CO2<br>EMISSIONS</p>
      </div>
      <div class="gdp-values">
        <p class="bigger-text">{{this.PlayerVariables.co2_emissions | number: '1.0-2'}} MT</p>
        <p class="value-diff">{{this.getEmissionsDiff() <= 0 ? '' : '+' }}{{this.getEmissionsDiff() | number: '1.0-2'}} MT</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class=gdp-group>
      <div class="gdp-title">
        <mat-icon class="info-icon">info_outline</mat-icon>
        <p class="field-title" style="margin-left: 8px;">AGGREGATED<br>EFFICIENCY</p>
      </div>
      <div class="gdp-values">
        <p class="bigger-text">{{this.PlayerVariables.efficiency*100 | number: '1.0-2'}} %</p>
        <p class="value-diff">{{this.getEfficiencyDiff() <= 0 ? '' : '+' }}{{this.getEfficiencyDiff() | number: '1.0-2'}} %</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="dist-table-title">
      <mat-icon class="info-icon">info_outline</mat-icon>
      <p class="table-title" style="margin-left: 8px;">Exergy Destribution by Sector</p>
    </div>
      <table>
        <thead>
          <tr>
            <th class="table-header-cell">
              <div class = "table-header-aligner">
                <p class="table-header-title">Economy Sector</p>
                <mat-icon class="table-header-icon">info_outline</mat-icon>
              </div>
            </th>
            <th class="table-header-cell">
              <div class = "table-header-aligner">
                <p class="table-header-title">Exergy Shares</p>
                <mat-icon class="table-header-icon">info_outline</mat-icon>
              </div>
            </th>
            <th class="table-header-cell">
              <div class = "table-header-aligner">
                <p class="table-header-title">Eletrification</p>
                <mat-icon class="table-header-icon">info_outline</mat-icon>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Transports</td>
            <td>{{this.PlayerVariables.economy_type_percentage_transportation | number:'1.0-2'}}%</td>
            <td>{{this.PlayerVariables.electrification_by_sector_percentage_transportation | number:'1.0-2'}}%</td>
          </tr>
          <tr>
            <td >Industry</td>
            <td>{{this.PlayerVariables.economy_type_percentage_industry | number:'1.0-2'}}%</td>
            <td>{{this.PlayerVariables.electrification_by_sector_percentage_industry | number:'1.0-2'}}%</td>
          </tr>
          <tr>
            <td >Residential</td>
            <td>{{this.PlayerVariables.economy_type_percentage_residential | number:'1.0-2'}}%</td>
            <td>{{this.PlayerVariables.electrification_by_sector_percentage_residential | number:'1.0-2'}}%</td>
          </tr>
          <tr>
            <td >Services</td>
            <td>{{this.PlayerVariables.economy_type_percentage_services | number:'1.0-2'}}%</td>
            <td>{{this.PlayerVariables.electrification_by_sector_percentage_services | number:'1.0-2'}}%</td>
          </tr>
        </tbody>
      </table>
 
  </div>
  <div class="column3">
    <p class="section-title">◖ EVENTS INFORMATION</p>
   
    <p class="card-title">Natural Events</p>
    <mat-card class="natural-event-card">
      <div class="insideContainer">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button class="decision-button" mat-raised-button color="warn">Pay Maintenance</button>
      </mat-card-actions>
    </mat-card>
    <mat-divider></mat-divider>
    <p class="card-title">Social Events</p>
    <mat-card class="natural-event-card">
      <div class="insideContainer">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button class="decision-button" mat-raised-button color="warn">Pay Maintenance</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>